.button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--primary-color);
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bold;
    transition: .4s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: var(--secondary-color);
}